.fixed {
    position: fixed
}

span.card-name {
    font-size: 12px;
}

div.card {
    position: relative;
}

div.card button {
    display: none;
    left: 40%;
    position: absolute;
}

div.card button.plus {
    top: 30%;
}

div.card button.minus {
    top: 50%;
}

div.card:hover button {
    display: block;
}

div.card img.card-image {
    height: 288px;
    width: 204px;
}
