<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Android: Netrunner Deck Builder</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/jquery/jquery-1.9.1.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="js/library.js"></script>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">deck builder</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Library</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Library</h1>
      <div ng-controller="LibraryCtrl">
        <form class="form-inline">
          <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn active" ng-click="search.player=''">All</button>
            <button class="btn" ng-click="search.player='corp'">Corp</button>
            <button class="btn" ng-click="search.player='runner'">Runner</button>
          </div>
          <select class="input-medium" ng-model="search.faction">
            <option value="">All factions</option>
            <option>Anarch</option>
            <option>Criminal</option>
            <option>Haas-Bioroid</option>
            <option>Jinteki</option>
            <option>NBN</option>
            <option>Neutral</option>
            <option>Shaper</option>
            <option>Weyland</option>
          </select>
          <select class="input-medium" ng-model="search.type">
            <option value="">All types</option>
            <option>Agenda</option>
            <option>Asset</option>
            <option>Event</option>
            <option>Hardware</option>
            <option>Ice</option>
            <option>Identity</option>
            <option>Operation</option>
            <option>Program</option>
            <option>Resource</option>
            <option>Upgrade</option>
          </select>
          <input type="text" class="search-query pull-right" placeholder="Search" ng-model="search.$"/>
        </form>
        <ul class="thumbnails">
          <li ng-repeat="card in library | filter:search" class="span3">
            <div class="thumbnail">
              <img ng-src="{{card.image}}"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
