<!DOCTYPE html>
<html ng-app="deck-builder">
  <head>
    <title>Android: Netrunner Deck Builder</title>
    <script src="lib/jquery/jquery-1.9.1.js"></script>
    <script src="lib/select2/select2.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui/build/angular-ui.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="js/library.js"></script>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="lib/angular-ui/build/angular-ui.css" rel="stylesheet" media="screen" />
    <link href="lib/select2/select2.css" rel="stylesheet" media="screen" />
    <link href="css/deck-builder.css" rel="stylesheet" media="screen" />
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">deck builder</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Library</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Library</h1>
      <div ng-controller="LibraryCtrl">
        <pre>{{deck}}</pre>
        <form class="form-inline">
          <select multiple="yes" class="input-xxlarge" data-placeholder="Add filters" ui-select2 ng-model="filters">
            <optgroup label="Players">
              <option value="player:corp">Corp</option>
              <option value="player:runner">Runner</option>
            </optgroup>
            <optgroup label="Factions">
              <option value="faction:anarch">Anarch</option>
              <option value="faction:criminal">Criminal</option>
              <option value="faction:haas-bioroid">Haas-Bioroid</option>
              <option value="faction:jinteki">Jinteki</option>
              <option value="faction:nbn">NBN</option>
              <option value="faction:neutral">Neutral</option>
              <option value="faction:shaper">Shaper</option>
              <option value="faction:weyland">Weyland</option>
            </optgroup>
            <optgroup label="Types">
              <option value="type:agenda">Agenda</option>
              <option value="type:asset">Asset</option>
              <option value="type:event">Event</option>
              <option value="type:hardware">Hardware</option>
              <option value="type:ice">Ice</option>
              <option value="type:identity">Identity</option>
              <option value="type:operation">Operation</option>
              <option value="type:program">Program</option>
              <option value="type:resource">Resource</option>
              <option value="type:upgrade">Upgrade</option>
            </optgroup>
          </select>
        </form>
        <ul class="thumbnails">
          <li ng-repeat="card in library | filter:filterLibrary" class="span3">
            <div class="thumbnail card">
              <button class="btn btn-large btn-inverse plus" ng-click="addCard(card)">
                <i class="icon-plus icon-white"></i>
              </button>
              <button class="btn btn-large btn-inverse minus" ng-click="removeCard(card)">
                <i class="icon-minus icon-white"></i>
              </button>
              <img ng-src="{{card.image}}"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
