<!DOCTYPE html>
<html ng-app="deck-builder">
  <head>
    <title>Android: Netrunner Deck Builder</title>
    <script src="lib/jquery/jquery-1.9.1.js"></script>
    <script src="lib/select2/select2.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui/build/angular-ui.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="js/deck-builder.js"></script>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="lib/angular-ui/build/angular-ui.css" rel="stylesheet" media="screen" />
    <link href="lib/select2/select2.css" rel="stylesheet" media="screen" />
    <link href="css/deck-builder.css" rel="stylesheet" media="screen" />
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body ng-controller="DeckBuilderCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">deck builder</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Library</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3 fixed">
          <p class="lead">Total Cards: {{totalCards(deck)}}</p>
          <div class="well well-small">
            <ul class="nav nav-list">
              <li ng-hide="totalCards(deck) > 0" class="nav-header">Empty Deck</li>
              <div ng-show="hasCardsOfType(deck, type)" class="nav" ng-repeat="type in types">
                <li class="nav-header">{{type}}</li>
                <li ng-repeat="card in cards(deck) | filter:{type: type}">
                  <span ng-class="{badge: true, 'badge-warning': card.count > 3}">{{card.count}}</span>
                  <span class="card-name">{{card.name}}</span>
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="span9 offset3">
          <h1>Library</h1>
          <form class="form-inline">
            <select multiple="yes" style="width: 100%" data-placeholder="Add filters" ui-select2 ng-model="filters">
              <optgroup label="Side">
                <option value="side:Corp">Corp</option>
                <option value="side:Runner">Runner</option>
              </optgroup>
              <optgroup label="Identity">
                <option value="identity:Anarch">Anarch</option>
                <option value="identity:Criminal">Criminal</option>
                <option value="identity:Haas-bioroid">Haas-Bioroid</option>
                <option value="identity:Jinteki">Jinteki</option>
                <option value="identity:NBN">NBN</option>
                <option value="identity:Neutral">Neutral</option>
                <option value="identity:Shaper">Shaper</option>
                <option value="identity:Weyland">Weyland</option>
              </optgroup>
              <optgroup label="Types">
                <option value="type:Agenda">Agenda</option>
                <option value="type:Asset">Asset</option>
                <option value="type:Event">Event</option>
                <option value="type:Hardware">Hardware</option>
                <option value="type:ICE">Ice</option>
                <option value="type:Identity">Identity</option>
                <option value="type:Operation">Operation</option>
                <option value="type:Program">Program</option>
                <option value="type:Resource">Resource</option>
                <option value="type:Upgrade">Upgrade</option>
              </optgroup>
            </select>
          </form>
          <ul class="thumbnails">
            <li ng-repeat="card in library | filter:filterLibrary" class="span3">
              <div class="thumbnail card">
                <button class="btn btn-large btn-inverse plus" ng-click="addCard(card)">
                  <i class="icon-plus icon-white"></i>
                </button>
                <button class="btn btn-large btn-inverse minus" ng-click="removeCard(card)">
                  <i class="icon-minus icon-white"></i>
                </button>
                <img class="card-image" ng-src="img/cards/{{card.furl}}.png"/>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
